<%- include('partials/header'); -%>
<h1>Home</h1>
<% for(var i=0; i<sentPosts.length; i++){ %>
    <div style="display:flex; flex-direction:column; margin-bottom:50px; justify-content: space-between;">
        <h4><%= sentPosts[i].title %></h4>
         <p><%= sentPosts[i].body %></p>
    </div>
   
<% } %>
<%- include('partials/footer'); -%>